@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark,.dark *));

@theme {
  --color-primary: #1c3766;
  --color-secondary: #d4ae2c;
  --color-accent: #fab702;
}
